<!-- profile -->
<div
  class="border-l-8 md:flex md:flex-row shadow-lg md:items-center md:justify-between md:gap-8 border-desaturatedDarkCyan rounded-md pb-6 md:pt-6 px-6 bg-white"
>
  <!-- company logo -->
  <div class="md:flex items-center gap-6">
    <div>
      <img
        src="./images/photosnap.svg"
        alt=""
        class="w-[50px] relative md:static -top-5 md:w-[80px]"
      />
    </div>

    <!-- company text -->

    <div>
      <section class="flex gap-7 -mt-1 items-center">
        <p class="text-desaturatedDarkCyan font-bold">Photosnap</p>
        <div class="flex gap-3">
          <button
            class="bg-desaturatedDarkCyan px-2.5 font-medium text-sm pt-1 uppercase text-white rounded-2xl"
          >
            New!
          </button>
          <button
            class="bg-veryDarkGrayishCyan px-2.5 font-medium pt-1 text-sm uppercase text-white rounded-2xl"
          >
            featured
          </button>
        </div>
      </section>

      <!-- company position -->
      <div>
        <p class="font-bold mt-3 md:mt-2 md:text-lg text-veryDarkGrayishCyan">
          Senior Frontend Developer
        </p>

        <!-- other details -->
        <div class="mt-3 md:mt-1">
          <div class="text-darkGrayishCyan flex gap-4 items-center">
            <p>1d ago</p>
            <p
              class="dot w-fit p-[2px] rounded full bg-darkGrayishCyan h-[3px]"
            ></p>
            <p>Full Time</p>
            <p
              class="dot w-fit p-[2px] rounded full bg-darkGrayishCyan h-[3px]"
            ></p>
            <p>USA only</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- border -->
  <div class="border-t border-gray-300 md:hidden mt-4"></div>

  <!-- skills -->
  <div class="flex gap-5 flex-wrap mt-4 md:w-[40%]">
    <button class="skill">Frontend</button>
    <button class="skill">Senior</button>
    <button class="skill">HTML</button>
    <button class="skill">CSS</button>
    <button class="skill">JavaScript</button>
  </div>
</div>
