  <!-- ========selected section========== -->
  <div class="flex justify-center -mt-28 mb-14">
    <div
      class="p-6 w-full mx-auto top-20 md:top-24 flex justify-between items-center shadow-lg rounded-md border-black bg-white"
    >
      <!-- skills selected -->
      <div class="flex flex-wrap gap-7">
        <!-- skill 1 -->
        <section class="flex rounded-md w-fit overflow-hidden">
          <button class="skill__select">Frontend</button>
          <div class="bg-desaturatedDarkCyan w-fit pt-2.5 px-2">
            <img src="./images/icon-remove.svg" alt="" />
          </div>
        </section>
      </div>
      <!-- clear -->
      <p
        class="font-bold text-darkGrayishCyan cursor-pointer hover:text-desaturatedDarkCyan transition-colors"
      >
        Clear
      </p>
    </div>
  </div>
</div>